.signupBody {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container p {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.bottomLabel {
  font-size: small;
  color: rgb(194, 15, 15);
}

#button {
  margin-top: 5%;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.gobackButton {
  width: 13rem;
  height: 4rem;
  border-radius: 100px;
  font-size: 1rem;
  color: white;
  margin: 1rem;
  border: none;
  background: linear-gradient(90deg, rgb(61, 187, 22), rgb(208, 237, 61));
  box-shadow: 0 4px 16px rgba(0, 255, 34, 0.3);
  transition: 0.3s;
}

.gobackButton:hover {
  width: 15rem;
  height: 5rem;
  background: linear-gradient(90deg, rgb(61, 187, 22), rgb(61, 187, 22));
  box-shadow: 0 4px 20px rgba(0, 203, 27, 0.375);
}


.gobackButton:active {
  width: 14rem;
  height: 4rem;
  background: linear-gradient(90deg, rgb(41, 134, 13), rgb(41, 134, 13));
}

.signButton {
  width: 13rem;
  height: 4rem;
  border-radius: 100px;
  font-size: 1rem;
  color: white;
  margin: 1rem;
  border: none;
  background: linear-gradient(90deg, rgb(61, 187, 22), rgb(208, 237, 61));
  box-shadow: 0 4px 16px rgba(0, 255, 34, 0.3);
  transition: 0.3s;
}

.signButton:hover {
  width: 15rem;
  height: 5rem;
  background: linear-gradient(90deg, rgb(61, 187, 22), rgb(61, 187, 22));
  box-shadow: 0 4px 20px rgba(0, 203, 27, 0.375);
}

.signButton:active {
  width: 14rem;
  height: 4rem;
  background: linear-gradient(90deg, rgb(41, 134, 13), rgb(41, 134, 13));
}

@media (max-width: 600px) {
  .container {
    z-index: 10;
    position: absolute;
    background: white;
    opacity: 90%;
    width: 300px;
    height: 600px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 40%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .circle {
    position: absolute;
    right: -200px;
    margin-left: 40px;
    background: greenyellow;
    width: 100%;
    height: 100%; 
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100%;
  }

  .circle button {
    position: relative;
    right: 18%;
    border: 1px solid rgb(12, 164, 30);
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    z-index: 10;
    position: absolute;
    background: white;
    opacity: 90%;
    left: 10%;
    width: 300px;
    height: 600px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .circle {
    position: absolute;
    right: -500px;
    margin-left: 40px;
    background: greenyellow;
    width: 100%;
    height: 120%; 
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
  }
}

@media (min-width: 1025px) {
  .container {
    z-index: 10;
    position: absolute;
    background: white;
    opacity: 90%;
    left: 15%;
    width: 500px;
    height: 600px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .circle {
    position: absolute;
    right: -500px;
    margin-left: 40px;
    background: greenyellow;
    width: 70%;
    height: 160%; 
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
  }
}
