.listBar {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4rem;
  gap: 0.7rem;
  padding: 1rem;
  border: 1.5px solid oklch(27.8% .033 256.848);
  border-radius: 1rem;
  color: oklch(27.8% .033 256.848);
  transition: 0.3s;
}

.listBar:hover {
  background: oklch(27.8% .033 256.848);
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.listBar:active {
  background: oklch(27.8% .033 256.848);
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 98%;
  height: 3.9rem;
}

.otherImg {
  width: 3rem;
  height: 3rem;
  overflow: clip;
  border-radius: 100%;
}

.otherImg img {
  width: 100%;
  height: 100%;
}

.otherName {
  font-weight: bold;
}