.box {
  background: oklch(27.8% .033 256.848);
  height: 30rem;
  width: 20rem;
  border-radius: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

#img {
  background: white;
  height: 2rem;
  width: 100%;
}