.container {
  position: relative;
  background: oklch(27.8% .033 256.848);
  height: calc(100vh - (112px*2));
  width: 100%;
  padding: 1rem;
}

.modifyProfile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 3.5rem;
}

.top {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: 30%;
}

.top img {
  width: 10rem;
  height: 100%;
  background: white;
  object-fit: contain;
  border-radius: 3rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.topText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: white;
  border-radius: 3rem;
  padding: 2rem;
  flex: 1;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 70%;
}

.middle p {
  background: white;
  border-radius: 4rem;
  padding: 2rem;
  width: 100%;
  height: 90%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  gap: 1rem;
}

.bottom button {
  background: white;
  height: 100%;
  width: 8rem;
  border-radius: 4rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media (min-width: 1025px) {
  .body {
  flex-direction: row;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  height: 100%;
}

.top img {
  width: 100%;
  height: 20rem;
}

.topText {
  flex-direction: row;
}

.middle {
  width: 70%;
  height: 100%;
}

.bottom {
  width: 70%;
  height: 10%;
}

.bottom button {
  height: 100%;
  width: 8rem;
}
}