.loginBody {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container p {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.bottomLabel {
  font-size: small;
  color: rgb(194, 15, 15);
}

#button {
  margin-top: 5%;
}

@media (max-width: 600px) {
  .container {
    z-index: 10;
    position: absolute;
    background: white;
    opacity: 90%;
    width: 300px;
    height: 400px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .circle {
    position: absolute;
    right: -200px;
    margin-left: 40px;
    background: greenyellow;
    width: 100%;
    height: 100%; 
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    z-index: 10;
    position: absolute;
    background: white;
    opacity: 90%;
    left: 10%;
    width: 300px;
    height: 400px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .circle {
    position: absolute;
    right: -500px;
    margin-left: 40px;
    background: greenyellow;
    width: 100%;
    height: 120%; 
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
  }
}

@media (min-width: 1025px) {
  .container {
    z-index: 10;
    position: absolute;
    background: white;
    opacity: 90%;
    left: 15%;
    width: 500px;
    height: 600px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .circle {
    position: absolute;
    right: -500px;
    margin-left: 40px;
    background: greenyellow;
    width: 70%;
    height: 160%; 
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
  }
}
