html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 전체 화면 */
}

.content {
  flex: 8;
  overflow-y: hidden;
}

Header {
  flex: 1;
}

Footer {
  flex: 1;
}