:root {
  --width1: 80vw;
  --width2: 85vw;
} 

.layout {
  position: relative;
  display: flex;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
}

.layout > :first-child { 
  position: fixed;
  left: 0;
  width: var(100vw - (--width1));
  height: 100%;
  border-radius: 0 !important;
}

.right {
  position: absolute;
  right: 0;
  width: var(--width1);
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: scroll;
}

.right > :first-child {
  width: var(--width1);
  position: fixed;
  top: 0;
  right: 0;
}

.right > :last-child {
  position: absolute;
  bottom: 0;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  /* height: calc(120vh - (112px*2)); */
  height: auto;
  width: 100%;
  margin-top: 112px;
  margin-bottom: 112px;
}

@media (min-width: 1200px) {
  .layout > :first-child {
    width: var(100vw - (--width2));
  }

  .right {
    width: var(--width2);
  }

  .right > :first-child {
  width: var(--width2);
}
}