.myBody {
  display: flex;
  flex-direction: row;
  height: calc(100vh - (112px*2));
  width: 100%;
  background: white;
  padding: 2px;
  gap: 2px;
}

.left {
  height: 100%;
  width: 50%;
  background: skyblue;
}

.right {
  height: 100%;
  width: 50%;
  background: cyan;
}

@media (min-width: 1025px) {
  .left {width: 25%;}
  .right {width: 75%;}
}