.myBody {
  display: flex;
  flex-direction: row;
  height: calc(100vh - (112px*2));
  width: 100%;
  background: white;
  padding: 4px;
  gap: 2px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 100%;
  width: 50%;
  background: white;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  overflow: clip;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.list {
  width: 100%;
  height: 4rem;
}

@media (min-width: 1025px) {
  .left {width: 25%;}
  .right {width: 75%;}
}