.contentContainer {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 100%;
  height: 120vh;
  margin: 7px;
}

.topContent {
  background: skyblue;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.middleContent {
  background: cyan;
  height: 78%;
  width: 100%;
}

.bottomContent {
  background: cornflowerblue;
  height: 12%;
  width: 100%;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: oklch(27.8% .033 256.848);
  height: 70%;
  width: 60%;
  border-radius: 40px;
  padding: 15px;
  gap: 3%;
}

.searchBar label {
  color: white;
  margin-top: 6px;
  margin-left: 2%;
  font-weight: bold;
  width: auto;
  height: 100%;
}

.searchBar input {
  background: white;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 40px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: oklch(27.8% .033 256.848);
  height: 70%;
  width: 23%;
  border-radius: 40px;
  padding: 15px;
  gap: 10px;
}

.filter img {
  width: 20%;
  height: 100%;
}

.filter input {
  background: white;
  width: 80%;
  height: 100%;
  border: none;
  border-radius: 40px;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: oklch(27.8% .033 256.848);
  height: 70%;
  width: 13%;
  border-radius: 40px;
  transition: 0.3s;
}

.searchButton:hover {
  background: oklch(27.8% .033 256.848);
  height: 71.5%;
  width: 13.5%;
}

.searchButton:active {
  background: oklch(17.171% 0.01413 258.38);
  height: 67%;
  width: 12%;
}

.searchButton img {
  height: 50%;
  width: 50%;
}