.contentContainer {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 100%;
  height: 120vh;
  margin: 7px;
}

.topContent {
  background: skyblue;
  height: 12%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.middleContent {
  background: cyan;
  height: 76%;
  width: 100%;
}

.bottomContent {
  background: cornflowerblue;
  height: 12%;
  width: 100%;
}

.searchBar {
  background: white;
  height: 70%;
  width: 70%;
  border-radius: 40px;
}

.filter {
  background: white;
  height: 70%;
  width: 13%;
  border-radius: 40px;
}

#tagFilter {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  border: none;
  font-weight: bold;
}

.searchButton {
  background: white;
  height: 70%;
  width: 13%;
  border-radius: 40px;
}