.board {
  height: 100vh;
  border-radius: 0 !important;
}

.board,
.board div,
.board ul {
  border-radius: 0 !important;
}

.user {
  background: oklch(24.125% 0.0283 257.547);
  display: flex;
  height: 5rem;
}